server:
  shutdown: immediate
  port: 8082

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

api:
  base:
    url:
      #oauth: http://localhost:9090/auth
      oauth: https://sign-in-dev.hmpps.service.justice.gov.uk/auth


spring:
  batch:
    jdbc:
      initialize-schema: never

  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/dev

  devtools:
    add-properties: true

  datasource:
#    url: 'jdbc:h2:mem:nomis-db;MODE=Oracle'
    url: jdbc:h2:file:./data/testdb;MODE=Oracle;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      format_sql: true

  h2:
    console:
      enabled: false
      path: /h2-console
