server:
  shutdown: immediate
  port: 8082

management.endpoint:
  health.cache.time-to-live: 0
  info.cache.time-to-live: 0

api:
  base:
    url:
      oauth: http://localhost:9090/auth

spring:
  flyway:
    enabled: true
    locations: classpath:db/migration,classpath:db/dev

  devtools:
    add-properties: true

  datasource:
    # ./nomis-db means create a file-based db in the directory the app started in
    url: 'jdbc:h2:tcp://localhost/./nomis-db;MODE=Oracle;USER=sa'

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  h2:
    console:
      enabled: false
      path: /h2-console
